body{
    background-color: #FFFBE9;
}

h1{
    color: #AD8B73;
}

h3{
    color: #AD8B73; 
}

hr{
    border-style: none;
    border-top-style: dotted;
    border-color: #E3CAA5;
    border-width: 5px;
    width: 5%;
}
