body{
    background-color: #7ae9e9;
}

h1{
    color: #1f9970;
}

h3{
    color: #1b997e; 
}

hr{
    border-style: none;
    border-top-style: dotted;
    border-color: #6b6c6e;
    border-width: 5px;
    width: 7%;
}
